@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

input,
textarea {
  text-transform: capitalize;
}

.all_tasks li:nth-last-child(-n+1) {
  margin-bottom: 100px;
}

.taskInput {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .07);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .07);
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .07);
}


.sideNavContainer a li:hover {
  border: none;
  background-color: #F1F3F4;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (max-width:650px) {
.header_container{
  padding: 0 10px;
}
  
  .sideNavContainer {
    width: auto;
    border: none;
  }

  .sideNavContainer a {
    border: none;
  }


  .sideNavContainer a h1 {
    display: none;
  }

  .all_tasks {
    padding: 0;
  }

  .outlet_container {
    padding: 1px 0;
  }

  .home_container {
    padding: 0px 2px;
  }

  .crete_task_container {
    padding: 0px 10px 0px 0px;
    margin-bottom: 80px;
  }

  .search_box {
    display: none;
  }

  .search_icon {
    display: block;
    color: black;
  }
}